@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --text-color-primary: #fff;
    --color-menu: #9b59b6;
    --color-menu-hover:#c39bd3;
    --color-background:#e8daef;
}

main{
    display: flex;
    width: 100%;
    background-color: var(--text-color-primary);
    box-sizing: border-box;
}

header{
    max-width: 100%;
    width: 100%;
    height: 50vh;  
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .header__options{
    width: 100%;
    height: 50px;
    background: #9b59b6;
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

header .header__options .header__options-logo{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 0;
    margin-left: 120px;

}
header .header__options .header__options-logo img{
    width: 100%;
    height: 100%;
}

header .header__options ul{
    display: flex;
    list-style: none;
    margin-left: 350px ;
    height: 100%;
    width: 800px;
    line-height: 50px;
    text-align: center;

}

header .header__options ul li{
    padding: 0 20px;
    transition: 0.2s all ease-in;
    cursor:pointer;

}
.header__options ul li:hover{
    background:  #c39bd3;
}

header .header__options ul li a{
    color: var(--text-color-primary);
    text-decoration: none;
}


/*Information left*/

.info__top{
    width: 25%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;  
}

.info__top-card{
    margin-top: 35px;
    width: 90%;
    height: 25%;
    background:  #e7e7e7 ;
    border-radius: 1rem;
    text-align: center;
    
}


.info__top-card h3{
    text-align: center;
    padding: 15px;
    font-weight: 500;
    color: #333;
}

.info__top-card img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info__top-card p{
    text-align: justify;
    font-size: 12px;
    margin: 10px 15px 20px 15px;
}

.info__top-card a{
    width: 4px;
    height: 25px;
    background: #9b59b6;
    padding: 10px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
}

.info__top-card a:hover{
    background: var(--color-menu-hover);
}
/*Información de en medio del bloque*/
main .container{
    width: 60%;
    height: 200vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*Código general de container*/

.container p{
    margin: 25px 50px;
    text-align: justify;
    font-size: 15px;
}


.container .universal__img{
    width: 90%;
    height: 350px;
    margin: 0 auto;
}

.container .universal__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 0 5px 0  #333;    
}


.container h3{
    text-align: center;
    padding: 15px 0;
    font-size: 25px;
}

.container h4{
    text-align: right;
    font-size: 20px;
}
/*Información al cargar página*/
/* #home{
    display: block;
} */

.home p:nth-of-type(2) img{
    margin: auto;
    float: left;
    width: 300px;
    height: 200px;
    margin-top: 35px;
}

.home p:nth-of-type(3) img{
    width: 45rem;
    height: 25rem;
    margin: 15px auto;
    float: inherit;
}
/*Information of mean*/
 /* #mean{
    display: block;
} */

/*Part about the origin*/
/* #origin{
    display: block; 
}  */

.origin h3{
    text-align: center;
    padding: 25px 0;
}

.origin table{
    margin: 15px auto;
    width: 90%;
    background-color: var(--color-background);
}

.origin table th, caption{
    border: 1px solid var(--color-menu);
    padding: 0 10px;
    background-color: var(--color-menu);
    color: var(--text-color-primary);
}

.origin caption{
    text-align: center;
}

.origin table td{
    border-right: 2px solid var(--color-menu);
    border-bottom: 2px solid var(--color-menu);
    padding: 10px;
    text-align: justify;
    font-size: 13px;
}

.origin table span{
    font-weight: 500;
}

/*Información de consecuencias*/
/* #consequences{
    display: block;
} */

.consequences__img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.consequences__img img{
    width: 250px;
    object-fit: cover;
    margin-left: 4px;
}

.consequences__img:nth-child(2) img{
    object-position: center;
}  

/*Información acerca de nosotros*/
/* #us{
    display: block;
}  */

.us .us__map {
    width: 380px;
    height: 350px;
    margin-left: 50px;
    text-align: center;
}

.us .us__map iframe{
    width: 350px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 5px 0 3px 0 #333;
    }

.us .us__info{
    display: flex;

}

.us .us__info form{
    padding: 0 25px;
}

.us .us__info input, textarea{
    width: 400px;
    height: 50px;
    padding: 25px;
    margin-bottom: 5px;
    outline: none;
    background: #f2f3f4;
    border: none;
    color: #333;
    font-weight: 900;
}

.us textarea{
    resize: none;
    height: 150px;
}

.us .us__info form button{
    width: 150px;
    height: 50px;
    color: var(--text-color-primary);
    border: none;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
}

.us .us__info form button:hover{
    color: #333;
    background: var(--color-menu-hover);
    font-weight: 500;

}

.us .us__networks{
    text-align: center;
    width: 90%;
    height: 250px;
    margin: 0 auto;
}

.us .us__networks p{
    text-align: center;
}

.us .us__networks a i{
    font-size: 50px;
    padding: 0 25px;
    margin-left: 25px ;
    color:var(--color-menu);
}

.showPage{
    display: block;
}

.hiddenPage{
    display: none;
}